pip install PyGithub


## For Token setup instructions
1. pip install python-dotenv
2. Create a `.env` file in the root directory.
3. Add the required variables ->( e.g. GITHUB_TOKEN = "your key" )
4. Make sure to put `.env` under `.gitignore` file so that it should remain safe from commit.
5. Run the application.