## Need to install below on your Ubuntu/Linux
sudo apt install -y nginx 
sudo apt install -y git
sudo apt install -y python3
sudo apt install pipx -y
pipx ensurepath


## Clone the repo in ubuntu
1. Setup you ssh
2. git clone reponame

## For Token setup instructions in windows
1. pip install python-dotenv
2. Create a `.env` file in the root directory.
3. Add the required variables ->( e.g. GITHUB_TOKEN = "your key" )
4. Make sure to put `.env` under `.gitignore` file so that it should remain safe from commit.

## For Token setup instructions in ubuntu
1. sudo apt install -y python3-dotenv
2. Create a `.env` & `.gitignore` file in the "Devops_pipeline" directory.
3. Add the required variables ->( e.g. GITHUB_TOKEN = "your key" )
4. Make sure to put `.env` under `.gitignore` file so that it should remain safe from commit.

## python & git version validation steps 
python3 --version
git --version 

## nginx validation status
sudo systemctl status nginx
"If not running, start it using" 
sudo systemctl start nginx

##  Set Up a Cron Job to Run the Python Script
crontab -e
* * * * * /usr/bin/python3 $HOME/Devops_CICD/check_commits.py >> $HOME/Devops_pipeline/log/check_commits.log 2>&1

## Validation Steps for Cron
crontab -l
systemctl status cron
"If not running, start it using" 
sudo systemctl start cron
sudo systemctl restart cron

## Check Cron Logs for Errors
sudo journalctl -u cron --since "1 hour ago"


